# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# pip install logs and virtualenv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy type checking cache
.mypy_cache/

# C extensions
*.so

# IDE / Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# MacOS system files
.DS_Store

# dotenv environment variables
.env
.env.local
.env.*.
